%h1 All Movies

= form_tag movies_path, :method => :get, :id => "ratings_form" do
  Include:
  - @all_ratings.keys.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1 , @all_ratings[rating], :id => "ratings_#{rating}"
  = submit_tag 'Refresh', :id => "ratings_submit"

%table#movies
  %thead
    %tr
      %th{:class=>("hilite" if @sort_by == "title"), :id => "title_header"}= link_to "Movie Title", {:sortby => "title"}
      %th Rating
      %th{:class=>("hilite" if @sort_by == "releasedate"), :id => "release_date_header"}= link_to "Release Date", {:sortby => "releasedate"}, 
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
